/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

hr {
  width: 70%;
  stroke: lightgrey;
  margin-top: 2em;
  margin-bottom: 2em;
}

#pdf-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

#button-wrap {
  position: absolute;
  top: 0px;
  right: 220px;
}

/* For pdf */
.react-pdf__Document {
  position: relative;
  top: 80px;
  right: 10px;
  width: 500px;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
  /* display:inline; */
  width: 500px;
  position: relative;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  right: 10px;
  transform: translate(0, 0) rotate(0deg) !important;
  top: 0px !important;
  left: 0px !important;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  position: relative;
  width: 600px;
}

/* For markdown editor component */
@import '~react-mde/lib/styles/css/react-mde-all.css';
.markdownEditorContainer {
  width: 100%;
  height: fit-content;
  padding: 10px;
}

/* For the date-picker */
@import '~react-datepicker/dist/react-datepicker.css';

/* For React Tags */
.container {
  margin: auto;
  width: 50%;
}
.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
}

/* Markdown previw in readonly mode */
.readonlyEntryMarkdownPreview {
  border: solid 1px #f1f1f1;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 0.5em;
}

.readonlyEntryMarkdownPreview blockquote {
  margin-left: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.readonlyEntryMarkdownPreview a {
  color: #4078c0;
  text-decoration: none;
}

.readonlyEntryMarkdownPreview ul {
  padding-left: 2em;
}

.readonlyEntryMarkdownPreview p {
  margin-top: 0;
  margin-bottom: 16px;
}

.smalltalk {
  position: absolute;
  z-index: 1000;

  top: 200px;
  bottom: 200px;
  left: 200px;
  right: 200px;
  background-color: aliceblue;
  padding: 10px;
  min-height: 200px;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.smalltalk div.page {
  margin: auto;
  width: 200px;
  padding: 10px;
}

.smalltalk div.page header {
  font-size: large;
  font-weight: 700;
}

.smalltalk div.page button {
  background-color: #777;
  font-weight: 700;
  color: #fff;
  padding: 5px 14px;
  margin: 5px;
}
